<!-- Modal 1: Para Moradores -->
<div class="modal fade modal-paginated" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Para Moradores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <div class="content-container">
                    <div class="page-content">
                        <h5>Comodidade e tranquilidade</h5>
                        <div class="row align-items-center">
                            <div class="col-md-7 text-justify">
                                <p>O sistema foi desenvolvido para simplificar o recebimento de encomendas no
                                    condomínio,
                                    oferecendo total transparência e praticidade.</p>
                                <p>Cada entrega é registrada de forma segura, garantindo ao morador a certeza de que
                                    suas
                                    compras estão armazenadas e protegidas até o momento da retirada.</p>
                                <p>O acesso a todas as informações sobre suas encomendas, elimina incertezas e
                                    proporciona uma
                                    experiência tranquila e confiável no dia a dia.</p>
                            </div>
                            <div class="col-md-5">
                                <img src="/assets/images/morada.png" alt="Morador recebendo encomenda"
                                    class="img-fluid rounded shadow-sm">
                            </div>
                        </div>
                    </div>

                    <div class="page-content hidden">
                        <h5>Notificações e visualização imediata</h5>
                        <div class="row align-items-center">
                            <div class="col-md-7 text-justify">
                                <p>Assim que uma encomenda é registrada na portaria, o sistema envia notificações
                                    instantâneas
                                    por e-mail e WhatsApp, informando a chegada do pacote.</p>
                                <p>Além disso, o morador pode visualizar a foto real do item recebido, capturada no
                                    momento do
                                    registro, facilitando a identificação e o planejamento para a retirada.</p>
                                <p>O processo é rápido, informativo e totalmente integrado à rotina digital do usuário.
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="/assets/images/notifications.webp" alt="Notificações"
                                    class="img-fluid rounded shadow-sm">
                            </div>
                        </div>
                    </div>

                    <div class="page-content hidden">
                        <h5>Segurança e agilidade na hora da retirada</h5>
                        <div class="row align-items-center">
                            <div class="col-md-7 text-justify">
                                <p>Cada entrega é protegida por um código de retirada único, associado
                                    exclusivamente à unidade correspondente.
                                    O resgate do pacote é feito de forma simples e segura, mediante apresentação do
                                    código ao funcionário responsável.</p>
                                <p>Para ainda mais praticidade, o sistema oferece a opção de um cartão com QR Code
                                    personalizado, permitindo a liberação imediata da encomenda por leitura óptica.
                                    Uma solução moderna que combina segurança, agilidade e conveniência.</p>
                            </div>
                            <div class="col-md-5">
                                <img src="/assets/images/privacidade.jpg" alt="Morador recebendo encomenda"
                                    class="img-fluid rounded shadow-sm">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer flex justify-content-between items-center">
                    <button type="button" class="btn btn-secondary prev-btn">
                        Anterior
                    </button>
                    <button type="button" class="btn btn-secondary next-btn">
                        Próxima
                    </button>
                </div>
            </div>
        </div>
    </div>