<!-- Modal 1: Para Moradores -->
<div class="modal fade modal-paginated" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Para Moradores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <div class="content-container">
                    <div class="page-content">
                        <h5>Bem vindo</h5>
                        <p>O sistema de Gestão de Encomendas foi criado para tornar o processo de recebimento e retirada
                            mais simples, rápido e seguro.
                            Logo ao acessar, você tem uma visão clara de todas as suas entregas, com foco em
                            transparência e praticidade no dia a dia.</p>
                    </div>

                    <div class="page-content hidden">
                        <h5>Minhas Encomendas</h5>
                        <p>Na tela inicial, suas encomendas são exibidas de forma organizada e fácil de entender.
                            Você pode visualizar as encomendas não retiradas aplicando um filtro, conferir o status de
                            cada
                            entrega e acessar todas as informações importantes, como por exemplo: destinatário, torre,
                            apartamento,
                            datas e quem registrou a chegada.</p>
                    </div>

                    <div class="page-content hidden">
                        <h5>Visualização e Notificações</h5>
                        <p>Para cada encomenda, você tem acesso a uma foto real capturada na portaria, facilitando a
                            identificação e o
                            planejamento da retirada.
                            Assim que uma nova entrega é registrada, você recebe notificações automáticas por e-mail
                            e/ou WhatsApp, garantindo comodidade e praticidade.
                        </p>
                    </div>

                    <div class="page-content hidden">
                        <h5>Retirada Segura</h5>
                        <p>Cada entrega possui um código único de retirada, que deve ser apresentado na portaria para
                            garantir que o pacote seja entregue apenas a quem foi autorizado.
                            Para ainda mais agilidade, é possível solicitar um cartão com <strong>QR Code
                                exclusivo</strong>, que substitui o código único de retirada e permite mais
                            acessebilidade em momentos nos quais não é possível acessar o sistema ou mesmo a
                            acessibilidades àqueles
                            com alguma dificuldade de acesso ao código digital.</p>
                    </div>

                    <div class="page-content hidden">
                        <h5>Controle e Tranquilidade</h5>
                        <p>O sistema também permite o acesso a dashboards com seu histórico de retiradas e encomendas
                            pendentes, oferecendo mais controle e transparência.
                            Com isso, você tem a certeza de que suas entregas estão seguras, registradas e acessíveis,
                            tornando todo o processo moderno, prático e confiável.</p>
                    </div>
                </div>

                <div class="modal-footer flex justify-content-between items-center">
                    <button type="button" class="btn btn-secondary prev-btn">
                        Anterior
                    </button>
                    <button type="button" class="btn btn-secondary next-btn">
                        Próxima
                    </button>
                </div>
            </div>
        </div>
    </div>