#contato {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../assets/images/bg_general.png);
  background-size: 300px;
  position: relative;
  overflow: hidden;
}
