<section id="comoFunciona" class="section section-timeline">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Como é o uso do sistema</h2>
        <p class="subtitle is-4 has-text-centered mb-6">
            O sistema foi projetado para um fluxo simples e facilitado a todos.
        </p>
        <div class="container py-5">
            <div class="main-timeline-2">
                <div class="timeline-2 left-2">
                    <div class="card">
                        <img src="/assets/images/timeline/01.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Cadastro inicial</h4>
                            <p class="mb-0">A administração cadastra os moradores no sistema, cada um é associado à sua
                                unidade (torre e apartamento).</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 right-2">
                    <div class="card">
                        <img src="/assets/images/timeline/03.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Registro Inteligente</h4>
                            <p class="mb-0">Quando as encomendas são entregues na portaria, o funcionário as resgistra
                                no
                                sistema por
                                meio de <strong>duas fotos:</strong> uma foto do pacote e uma foto da etiqueta. </p>
                            <p>O sistema usa o <i><strong>OCR</strong></i> para ler os dados do destinatário e preencher
                                o cadastro <strong>automaticamente</strong>.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 left-2">
                    <div class="card">
                        <img src="/assets/images/timeline/03.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Notificação imediata</h4>
                            <p class="mb-0">Quando uma encomenda é registrada no sistema, o morador da unidade
                                é notificado instantaneamente via email e WhatsApp.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 right-2">
                    <div class="card">
                        <img src="/assets/images/timeline/01.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Transparência total</h4>
                            <p class="mb-0">A qualquer momento, o morador pode acessar o sistema e consultar
                                tudo sobre suas encomendas; inclusive visualizar a foto dos pacotes ainda pensentes de
                                retirada, o que o possibilita planejar essa retirada de maneira otimizada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 left-2">
                    <div class="card">
                        <img src="/assets/images/timeline/01.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Retirada</h4>
                            <p class="mb-0">Para garantir a segurança, o sistema exige um
                                <strong>código aleatório</strong> e único para a retirada de cada pacote.
                                Esse código é gerado no registro da encomenda e só fica
                                acessível na conta do morador associado à unidade.
                            </p>
                            <p>O código deve ser informado no ato da retirada da encomenda, o que impede qualquer erro
                                na entrega de pacotes.</p>
                            <p>Esse aspecto reforça a segurança
                                tanto para os moradores quanto para os responsáveis pela entrega. </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-2 right-2">
                    <div class="card">
                        <img src="/assets/images/timeline/01.png" class="card-img-top" alt="Responsive image">
                        <div class="card-body p-4">
                            <h4 class="fw-bold mb-4">Ainda mais comodidade</h4>
                            <p class="mb-0">Ainda é possível ao morador solicitar junto à administração do condomínio o
                                <strong>Cartão do Morador</strong>, que contém um <i><strong>QR Code</strong></i>
                                associado à sua unidade. Este cartão
                                possibilita a retirada de encomendas apenas com a sua apresentação, dispensando o uso do
                                código de retirada, mas mantendo a mesma garantia e segurança.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>