<section id="comoFunciona" class="section section-timeline">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Como o sistema fuciona?</h2>
        <p class="subtitle is-4 has-text-centered mb-6">
            O sistema foi projetado para um fluxo simples e facilitado a todos.
        </p>
        <div class="container py-5">
            <div class="timeline-grid">
                <!-- Card 1 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/01.png" class="timeline-card-img"
                        alt="Cadastro inicial">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Cadastro inicial</h4>
                        <div class="timeline-card-content">
                            <p>A administração cadastra os moradores no sistema, cada um é associado à sua
                                unidade (torre e apartamento).</p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/02.png" class="timeline-card-img"
                        alt="Registro Inteligente">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Registro Inteligente</h4>
                        <div class="timeline-card-content">
                            <p>Quando as encomendas são entregues na portaria, o funcionário as registra no sistema por
                                meio de <strong>duas fotos:</strong></p>
                            <ul style="list-style: disc; padding-left: 20px;">
                                <li class="mb-2">Uma foto da encomenda</li>
                                <li>Uma foto da etiqueta do destinatário</li>
                            </ul>
                            <p class="mt-3">A partir da foto da etiqueta, o sistema lê os dados do destinatário e
                                preenche <strong>automaticamente</strong> as informações para o registro.</p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/03.png" class="timeline-card-img"
                        alt="Notificação imediata">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Notificação imediata</h4>
                        <div class="timeline-card-content">
                            <p>Quando uma encomenda é registrada no sistema, o morador da unidade
                                é notificado instantaneamente via email e WhatsApp.</p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/04.png" class="timeline-card-img"
                        alt="Transparência total">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Transparência total</h4>
                        <div class="timeline-card-content">
                            <p>A qualquer momento, o morador pode acessar o sistema e consultar
                                tudo sobre suas encomendas; inclusive visualizar a foto dos pacotes ainda pendentes de
                                retirada, o que o possibilita planejar essa retirada de maneira otimizada.
                            </p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
                <!-- Card 5 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/05.png" class="timeline-card-img"
                        alt="Retirada Segura">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Retirada Segura</h4>
                        <div class="timeline-card-content">
                            <p>Para garantir a segurança, o sistema exige um
                                <strong>código aleatório</strong> e único para a retirada de cada pacote.
                                Esse código é gerado no registro da encomenda e só fica
                                acessível na conta do morador associado à unidade.
                            </p>
                            <p>O código deve ser informado no ato da retirada da encomenda, o que impede qualquer erro
                                na entrega de pacotes.</p>
                            <p>Esse aspecto reforça a segurança
                                tanto para os moradores quanto para os responsáveis pela entrega. </p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
                <!-- Card 6 -->
                <div class="timeline-card">
                    <img src="/landing-encomendas/assets/images/timeline/06.png" class="timeline-card-img"
                        alt="Ainda mais comodidade">
                    <div class="timeline-card-body">
                        <h4 class="timeline-card-title">Ainda mais comodidade</h4>
                        <div class="timeline-card-content">
                            <p>Ainda é possível ao morador solicitar junto à administração do condomínio o
                                <strong>Cartão do Morador</strong>, que contém um <i><strong>QR Code</strong></i>
                                associado à sua unidade. Este cartão
                                possibilita a retirada de encomendas apenas com a sua apresentação, dispensando o uso do
                                código de retirada, mas mantendo a mesma garantia e segurança.
                            </p>
                        </div>
                        <button class="timeline-card-toggle">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>