<section class="hero is-fullheight">
  <!-- Imagens de fundo -->
  <img src="/assets/images/bg08.jpg" alt="Imagem 1" class="bg-slide">
  <img src="/assets/images/bg09.png" alt="Imagem 2" class="bg-slide">
  <img src="/assets/images/bg10.jpg" alt="Imagem 3" class="bg-slide">
  <img src="/assets/images/bg11.jpg" alt="Imagem 3" class="bg-slide">

  <!-- Conteúdo da hero -->
  <div class="hero-body">
    <div class="container has-text-centered heroBanner">
      <h1 class="title is-1">Gestão de Encomendas</h1>
      <h2 class="subtitle is-4">A simplicidade a seu serviço</h2>
      <a href="#sobre" class="button is-dark is-medium">Saiba Mais</a>
    </div>
  </div>
</section>