<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#inicio">
      <i class="fa-solid fa-truck logo-icon"></i>
      <span>Gestão de Encomendas</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainNavbar" class="navbar-menu">
    <div class="navbar-end">
      <a href="#sobre" class="navbar-item">Sobre</a>
      <a href="#funcionalidades" class="navbar-item">Funcionamento</a>
      <a href="#tecnologias" class="navbar-item">Tecnologias</a>
      <a href="#contato" class="navbar-item">Contato</a>
    </div>
  </div>
</nav>